# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [70]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import os
import csv

# Import API key
from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [71]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

609

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it's being processed (with the city number and city name).

In [72]:
api = weather_api_key
# Build query URL
url = "http://api.openweathermap.org/data/2.5/weather?"

def APIRequest(cityNumber):#function for making the API call to OpenWeatherMap.org and returning the data
    query_url = url + "appid=" + api + "&q=" + cities[cityNumber-1]
    responseJson = requests.get(query_url).json() #making the API request and grabbing the JSON from the response

    if ("'message': 'city not found'" in str(responseJson)): #checking response JSON for the string of text containing the message 'city not found'
        full_City_Data.append(" ")#if the city is not found, append a null value to the lists to keep the index numbers correct
        city_City_Data.append(" ")#list for city names
        lat_City_Data.append(" ")#list for city latitude
        lng_City_Data.append(" ")#list for city longitude
        max_Temp_City_Data.append(" ")#list for city maximum temperature
        humidity_City_Data.append(" ")#list for city humidity
        cloudiness_City_Data.append(" ")#list for city cloudiness amount
        wind_Speed_City_Data.append(" ")#list for city wind speed amount
        country_City_Data.append(" ")#list for which country a city is in
        date_City_Data.append(" ")#list for the datetime information stored in unix UTC format
        print("City not found. Skipping...")
    else:
        full_City_Data.append(responseJson) #if the city is found, do append the information to the lists
        city_City_Data.append(responseJson["name"])
        lat_City_Data.append(responseJson["coord"]["lat"])
        lng_City_Data.append(responseJson["coord"]["lat"])
        max_Temp_City_Data.append(responseJson["main"]["temp_max"])
        humidity_City_Data.append(responseJson["main"]["humidity"])
        cloudiness_City_Data.append(responseJson["clouds"]["all"])
        wind_Speed_City_Data.append(responseJson["wind"]["speed"])
        country_City_Data.append(responseJson["sys"]["country"])
        date_City_Data.append(responseJson["dt"])

#if length of cities is exactly divisible by 50 then get the length. else we need to add an extra batch to account for the remainder
remainder = 0
if (len(cities) % 50 == 0):
        totalBatches = int(len(cities) / 50) #doing batches of 50 API calls at once; finding the total number of batches I will be making
else:
    totalBatches = int((len(cities) / 50)+1)
    remainder = int(len(cities) % 50)
    
batchCounter = 1
requestsPerBatch = 50
requestCounter = 1
cityNumber = 1
#creating empty lists to use to append each piece of the weather data response to
full_City_Data, city_City_Data, lat_City_Data, lng_City_Data, max_Temp_City_Data, humidity_City_Data, cloudiness_City_Data, wind_Speed_City_Data, country_City_Data, date_City_Data = [], [], [], [], [], [], [], [], [], []

print("Beginning Data Retrieval\n-----------------------------")
while (batchCounter <= totalBatches): 
    print(f"Starting batch {batchCounter} of {totalBatches}.")
    while ((batchCounter != totalBatches) & (requestCounter <= requestsPerBatch)): #if we're not on the final batch, run this code
        cityNumber = (50 * (batchCounter-1)) + requestCounter #calculating city number        
        APIRequest(cityNumber)
        if (city_City_Data[cityNumber-1] != " "):#if any of lists at this element are blank, skip printing the name and move onto the next city
            print(f"Request {requestCounter} of batch {batchCounter}. City number: {cityNumber} City name: {city_City_Data[cityNumber-1]}.")
        requestCounter +=1
    while ((batchCounter == totalBatches) & (requestCounter <= remainder)): #if we are on the final batch, run this code
        cityNumber = (50 * (batchCounter-1)) + requestCounter #calculating city number
        APIRequest(cityNumber)
        if (city_City_Data[cityNumber-1] != " "):#if any of lists at this element are blank, skip printing the name and move onto the next city
            print(f"Request {requestCounter} of batch {batchCounter}. City number: {cityNumber} City name: {city_City_Data[cityNumber-1]}.")
        requestCounter +=1        
    batchCounter +=1
    requestCounter = 1 #resetting requestCounter so it will hit the inner while loop again in the next iteration of the outer while loop
    
    #break ##break out of out while loop so i don't make so many API calls during testing##
print("-----------------------------\nData Retrieval Complete\n----------------------------")

Beginning Data Retrieval
-----------------------------
Starting batch 1 of 13.
Request 1 of batch 1. City number: 1 City name: Hermanus.
Request 2 of batch 1. City number: 2 City name: Yaan.
Request 3 of batch 1. City number: 3 City name: Bredasdorp.
Request 4 of batch 1. City number: 4 City name: Poum.
Request 5 of batch 1. City number: 5 City name: Nikolskoye.
Request 6 of batch 1. City number: 6 City name: Adrar.
Request 7 of batch 1. City number: 7 City name: Atuona.
Request 8 of batch 1. City number: 8 City name: Jutaí.
Request 9 of batch 1. City number: 9 City name: Cologne.
Request 10 of batch 1. City number: 10 City name: Jamestown.
Request 11 of batch 1. City number: 11 City name: Rawson.
Request 12 of batch 1. City number: 12 City name: Imbituba.
Request 13 of batch 1. City number: 13 City name: Drăgeşti.
City not found. Skipping...
Request 15 of batch 1. City number: 15 City name: Albany.
City not found. Skipping...
Request 17 of batch 1. City number: 17 City name: Marzuq.
Request 18 of batch 1. City number: 18 City name: Rikitea.
Request 19 of batch 1. City number: 19 City name: Ushuaia.
Request 20 of batch 1. City number: 20 City name: Husavik.
Request 21 of batch 1. City number: 21 City name: Iquitos.
Request 22 of batch 1. City number: 22 City name: Busselton.
Request 23 of batch 1. City number: 23 City name: Nadym.
Request 24 of batch 1. City number: 24 City name: Vaini.
Request 25 of batch 1. City number: 25 City name: Kapaa.
Request 26 of batch 1. City number: 26 City name: Mataura.
Request 27 of batch 1. City number: 27 City name: East London.
Request 28 of batch 1. City number: 28 City name: Qaanaaq.
Request 29 of batch 1. City number: 29 City name: Yellowknife.
Request 30 of batch 1. City number: 30 City name: Tallahassee.
Request 31 of batch 1. City number: 31 City name: Saskylakh.
Request 32 of batch 1. City number: 32 City name: Dikson.
City not found. Skipping...
Request 34 of batch 1. City number: 34 City name: Wanlaweyn.
Request 35 of batch 1. City number: 35 City name: Rio Grande.
Request 36 of batch 1. City number: 36 City name: Hong Kong.
Request 37 of batch 1. City number: 37 City name: Huaidian.
Request 38 of batch 1. City number: 38 City name: La Santisima Trinidad.
Request 39 of batch 1. City number: 39 City name: Bilibino.
Request 40 of batch 1. City number: 40 City name: Oranjemund.
Request 41 of batch 1. City number: 41 City name: Coquimbo.
Request 42 of batch 1. City number: 42 City name: Puerto Ayora.
Request 43 of batch 1. City number: 43 City name: Verkhnevilyuysk.
Request 44 of batch 1. City number: 44 City name: Lagoa.
Request 45 of batch 1. City number: 45 City name: Walldürn.
Request 46 of batch 1. City number: 46 City name: Khatanga.
Request 47 of batch 1. City number: 47 City name: Kununurra.
Request 48 of batch 1. City number: 48 City name: Provideniya.
Request 49 of batch 1. City number: 49 City name: Faya.
Request 50 of batch 1. City number: 50 City name: Sterling.
Starting batch 2 of 13.
Request 1 of batch 2. City number: 51 City name: Nanortalik.
Request 2 of batch 2. City number: 52 City name: Shādegān.
Request 3 of batch 2. City number: 53 City name: Cockburn Town.
Request 4 of batch 2. City number: 54 City name: Sørland.
Request 5 of batch 2. City number: 55 City name: San Policarpo.
Request 6 of batch 2. City number: 56 City name: Nuuk.
City not found. Skipping...
Request 8 of batch 2. City number: 58 City name: Carnarvon.
Request 9 of batch 2. City number: 59 City name: Avarua.
Request 10 of batch 2. City number: 60 City name: Ilulissat.
City not found. Skipping...
Request 12 of batch 2. City number: 62 City name: Saint Paul Harbor.
Request 13 of batch 2. City number: 63 City name: Ulan-Ude.
Request 14 of batch 2. City number: 64 City name: Antofagasta.
Request 15 of batch 2. City number: 65 City name: Port Alfred.
Request 16 of batch 2. City number: 66 City name: Port Elizabeth.
Request 17 of batch 2. City number: 67 City name: Bluff.
Request 18 of batch 2. City number: 68 City name: Punta Arenas.
Request 19 of batch 2. City number: 69 City name: Chui.
Request 20 of batch 2. City number: 70 City name: Ocós.
Request 21 of batch 2. City number: 71 City name: Kologriv.
Request 22 of batch 2. City number: 72 City name: Severo-Kuril'sk.
Request 23 of batch 2. City number: 73 City name: Pizhanka.
Request 24 of batch 2. City number: 74 City name: Forbes.
Request 25 of batch 2. City number: 75 City name: Shebunino.
Request 26 of batch 2. City number: 76 City name: Qui Nhon.
Request 27 of batch 2. City number: 77 City name: Salalah.
Request 28 of batch 2. City number: 78 City name: São Filipe.
Request 29 of batch 2. City number: 79 City name: Golden.
City not found. Skipping...
Request 31 of batch 2. City number: 81 City name: Mar del Plata.
Request 32 of batch 2. City number: 82 City name: Ust-Tsilma.
Request 33 of batch 2. City number: 83 City name: Bartica.
Request 34 of batch 2. City number: 84 City name: Labuan.
Request 35 of batch 2. City number: 85 City name: Anchorage.
Request 36 of batch 2. City number: 86 City name: Hilo.
Request 37 of batch 2. City number: 87 City name: Tasiilaq.
Request 38 of batch 2. City number: 88 City name: Esperance.
Request 39 of batch 2. City number: 89 City name: Baghdad.
Request 40 of batch 2. City number: 90 City name: Jining.
Request 41 of batch 2. City number: 91 City name: Sarangani.
Request 42 of batch 2. City number: 92 City name: Launceston.
City not found. Skipping...
Request 44 of batch 2. City number: 94 City name: Alofi.
Request 45 of batch 2. City number: 95 City name: Tsiroanomandidy.
Request 46 of batch 2. City number: 96 City name: Timizart.
Request 47 of batch 2. City number: 97 City name: Codrington.
Request 48 of batch 2. City number: 98 City name: Karabulak.
Request 49 of batch 2. City number: 99 City name: Lebu.
City not found. Skipping...
Starting batch 3 of 13.
Request 1 of batch 3. City number: 101 City name: Santa Cruz de la Sierra.
Request 2 of batch 3. City number: 102 City name: Am Timan.
Request 3 of batch 3. City number: 103 City name: Hasaki.
Request 4 of batch 3. City number: 104 City name: Airai.
Request 5 of batch 3. City number: 105 City name: Lavrentiya.
Request 6 of batch 3. City number: 106 City name: Katsuura.
Request 7 of batch 3. City number: 107 City name: Saldanha.
Request 8 of batch 3. City number: 108 City name: Poya.
City not found. Skipping...
Request 10 of batch 3. City number: 110 City name: Chernyshevsk.
Request 11 of batch 3. City number: 111 City name: Iqaluit.
Request 12 of batch 3. City number: 112 City name: Ponta do Sol.
Request 13 of batch 3. City number: 113 City name: Charcas.
Request 14 of batch 3. City number: 114 City name: Cabedelo.
Request 15 of batch 3. City number: 115 City name: Shuyskoye.
Request 16 of batch 3. City number: 116 City name: Ust-Maya.
Request 17 of batch 3. City number: 117 City name: Grand Gaube.
Request 18 of batch 3. City number: 118 City name: Hamilton.
Request 19 of batch 3. City number: 119 City name: Hlobyne.
Request 20 of batch 3. City number: 120 City name: Mana.
Request 21 of batch 3. City number: 121 City name: Akdepe.
Request 22 of batch 3. City number: 122 City name: College.
Request 23 of batch 3. City number: 123 City name: Turinsk.
Request 24 of batch 3. City number: 124 City name: Norman Wells.
Request 25 of batch 3. City number: 125 City name: Sabha.
Request 26 of batch 3. City number: 126 City name: Laguna.
Request 27 of batch 3. City number: 127 City name: Erzin.
Request 28 of batch 3. City number: 128 City name: Cairns.
Request 29 of batch 3. City number: 129 City name: Black River.
Request 30 of batch 3. City number: 130 City name: Dunmore Town.
Request 31 of batch 3. City number: 131 City name: Coahuayana Viejo.
Request 32 of batch 3. City number: 132 City name: Itarema.
Request 33 of batch 3. City number: 133 City name: New Norfolk.
Request 34 of batch 3. City number: 134 City name: Villa Luvianos.
Request 35 of batch 3. City number: 135 City name: Cape Town.
Request 36 of batch 3. City number: 136 City name: Port Hedland.
Request 37 of batch 3. City number: 137 City name: Tuatapere.
Request 38 of batch 3. City number: 138 City name: Extrema.
Request 39 of batch 3. City number: 139 City name: San Patricio.

Request 40 of batch 3. City number: 140 City name: Balabac.
Request 41 of batch 3. City number: 141 City name: Cabo San Lucas.
Request 42 of batch 3. City number: 142 City name: Osečina.
Request 43 of batch 3. City number: 143 City name: Kargil.
Request 44 of batch 3. City number: 144 City name: Taclobo.
Request 45 of batch 3. City number: 145 City name: Dombarovskiy.
Request 46 of batch 3. City number: 146 City name: Gunjur.
Request 47 of batch 3. City number: 147 City name: Yumen.
Request 48 of batch 3. City number: 148 City name: Saint-Joseph.
Request 49 of batch 3. City number: 149 City name: Maceió.
Request 50 of batch 3. City number: 150 City name: Aksu.
Starting batch 4 of 13.
Request 1 of batch 4. City number: 151 City name: Hobart.
Request 2 of batch 4. City number: 152 City name: Dudinka.
Request 3 of batch 4. City number: 153 City name: Virden.
Request 4 of batch 4. City number: 154 City name: Gijang.
Request 5 of batch 4. City number: 155 City name: Murgab.
Request 6 of batch 4. City number: 156 City name: Vao.
Request 7 of batch 4. City number: 157 City name: Ingham.
Request 8 of batch 4. City number: 158 City name: Yar-Sale.
Request 9 of batch 4. City number: 159 City name: Mednogorskiy.
Request 10 of batch 4. City number: 160 City name: Shangzhi.
Request 11 of batch 4. City number: 161 City name: Eureka.
Request 12 of batch 4. City number: 162 City name: Cidreira.
Request 13 of batch 4. City number: 163 City name: Vila do Maio.
Request 14 of batch 4. City number: 164 City name: São Miguel do Araguaia.
Request 15 of batch 4. City number: 165 City name: Okhotsk.
Request 16 of batch 4. City number: 166 City name: Lianhe.
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
Request 20 of batch 4. City number: 170 City name: Esso.
Request 21 of batch 4. City number: 171 City name: Doha.
Request 22 of batch 4. City number: 172 City name: Valdez.
City not found. Skipping...
Request 24 of batch 4. City number: 174 City name: Kangaba.
Request 25 of batch 4. City number: 175 City name: Touros.
Request 26 of batch 4. City number: 176 City name: Pangnirtung.
Request 27 of batch 4. City number: 177 City name: Marsh Harbour.
Request 28 of batch 4. City number: 178 City name: Zhigansk.
Request 29 of batch 4. City number: 179 City name: Beckley.
Request 30 of batch 4. City number: 180 City name: Caravelas.
Request 31 of batch 4. City number: 181 City name: Newport.
Request 32 of batch 4. City number: 182 City name: Soe.
Request 33 of batch 4. City number: 183 City name: Mwene-Ditu.
Request 34 of batch 4. City number: 184 City name: Aranos.
Request 35 of batch 4. City number: 185 City name: Mari-Turek.
Request 36 of batch 4. City number: 186 City name: Barhi.
Request 37 of batch 4. City number: 187 City name: Mahon.
Request 38 of batch 4. City number: 188 City name: Kapoeta.
City not found. Skipping...
Request 40 of batch 4. City number: 190 City name: Hualmay.
Request 41 of batch 4. City number: 191 City name: Jhābua.
Request 42 of batch 4. City number: 192 City name: Fortuna.
Request 43 of batch 4. City number: 193 City name: Hobyo.
Request 44 of batch 4. City number: 194 City name: Bathsheba.
Request 45 of batch 4. City number: 195 City name: Barrow.
Request 46 of batch 4. City number: 196 City name: Esik.
Request 47 of batch 4. City number: 197 City name: Sokoni.
Request 48 of batch 4. City number: 198 City name: Eugene.
Request 49 of batch 4. City number: 199 City name: Kahului.
Request 50 of batch 4. City number: 200 City name: Lata.
Starting batch 5 of 13.
Request 1 of batch 5. City number: 201 City name: Castro.
Request 2 of batch 5. City number: 202 City name: Camacha.
Request 3 of batch 5. City number: 203 City name: Krasnosel'kup.
Request 4 of batch 5. City number: 204 City name: Taltal.
City not found. Skipping...
Request 6 of batch 5. City number: 206 City name: Carauari.
Request 7 of batch 5. City number: 207 City name: St. George's.
Request 8 of batch 5. City number: 208 City name: Mackenzie.
Request 9 of batch 5. City number: 209 City name: Ceccano.
Request 10 of batch 5. City number: 210 City name: Luwuk.
Request 11 of batch 5. City number: 211 City name: Tynda.
Request 12 of batch 5. City number: 212 City name: Carballo.
Request 13 of batch 5. City number: 213 City name: Avera.
City not found. Skipping...
Request 15 of batch 5. City number: 215 City name: Inhambane.
Request 16 of batch 5. City number: 216 City name: Puerto Santander.
Request 17 of batch 5. City number: 217 City name: Leningradskiy.
City not found. Skipping...
Request 19 of batch 5. City number: 219 City name: Elko.
Request 20 of batch 5. City number: 220 City name: Santa Fe.
Request 21 of batch 5. City number: 221 City name: Sukumo.
Request 22 of batch 5. City number: 222 City name: Kaduy.
Request 23 of batch 5. City number: 223 City name: Ziyang.
Request 24 of batch 5. City number: 224 City name: Ahipara.
Request 25 of batch 5. City number: 225 City name: Thompson.
City not found. Skipping...
Request 27 of batch 5. City number: 227 City name: Ancud.
Request 28 of batch 5. City number: 228 City name: Derzhavīnsk.
Request 29 of batch 5. City number: 229 City name: Bubaque.
Request 30 of batch 5. City number: 230 City name: Hithadhoo.
Request 31 of batch 5. City number: 231 City name: Shisui.
Request 32 of batch 5. City number: 232 City name: Leh.
Request 33 of batch 5. City number: 233 City name: Krasnokholmskiy.
Request 34 of batch 5. City number: 234 City name: Tautira.
Request 35 of batch 5. City number: 235 City name: Khovd.
Request 36 of batch 5. City number: 236 City name: Kaitangata.
Request 37 of batch 5. City number: 237 City name: Tuktoyaktuk.
Request 38 of batch 5. City number: 238 City name: Fatsa.
Request 39 of batch 5. City number: 239 City name: Kruisfontein.
City not found. Skipping...
Request 41 of batch 5. City number: 241 City name: Deputatsky.
Request 42 of batch 5. City number: 242 City name: Arlit.
Request 43 of batch 5. City number: 243 City name: Luanda.
Request 44 of batch 5. City number: 244 City name: Chapais.
Request 45 of batch 5. City number: 245 City name: Uglovskoye.
Request 46 of batch 5. City number: 246 City name: Saint-Philippe.
Request 47 of batch 5. City number: 247 City name: Bambous Virieux.
Request 48 of batch 5. City number: 248 City name: Dundee.
Request 49 of batch 5. City number: 249 City name: Port Hardy.
Request 50 of batch 5. City number: 250 City name: Cherskiy.
Starting batch 6 of 13.
Request 1 of batch 6. City number: 251 City name: Torbay.
Request 2 of batch 6. City number: 252 City name: Oxbow.
Request 3 of batch 6. City number: 253 City name: Taunggyi.
Request 4 of batch 6. City number: 254 City name: Sakakah.
Request 5 of batch 6. City number: 255 City name: Butaritari.
Request 6 of batch 6. City number: 256 City name: Platonovka.
Request 7 of batch 6. City number: 257 City name: Abu Samrah.
Request 8 of batch 6. City number: 258 City name: Namatanai.
Request 9 of batch 6. City number: 259 City name: Timrå.
Request 10 of batch 6. City number: 260 City name: Kavaratti.
Request 11 of batch 6. City number: 261 City name: Tomatlán.
City not found. Skipping...
Request 13 of batch 6. City number: 263 City name: Karratha.
Request 14 of batch 6. City number: 264 City name: Klaksvík.
Request 15 of batch 6. City number: 265 City name: Santa Maria.
Request 16 of batch 6. City number: 266 City name: Upernavik.
Request 17 of batch 6. City number: 267 City name: Chokurdakh.
City not found. Skipping...
City not found. Skipping...
Request 20 of batch 6. City number: 270 City name: Horizontina.
Request 21 of batch 6. City number: 271 City name: Tanabe.
Request 22 of batch 6. City number: 272 City name: Mahébourg.
Request 23 of batch 6. City number: 273 City name: Vostok.
Request 24 of batch 6. City number: 274 City name: Fare.
Request 25 of batch 6. City number: 275 City name: Longyearbyen.
Request 26 of batch 6. City number: 276 City name: Spring Hill.
Request 27 of batch 6. City number: 277 City name: Boddam.
Request 28 of batch 6. City number: 278 City name: Killybegs.
Request 29 of batch 6. City number: 279 City name: Kargasok.
Request 30 of batch 6. City number: 280 City name: Manacapuru.
Request 31 of batch 6. City number: 281 City name: Luís Correia.

Request 32 of batch 6. City number: 282 City name: Pevek.
City not found. Skipping...
Request 34 of batch 6. City number: 284 City name: Pilar.
Request 35 of batch 6. City number: 285 City name: Seabra.
Request 36 of batch 6. City number: 286 City name: Beringovskiy.
Request 37 of batch 6. City number: 287 City name: Sarakhs.
Request 38 of batch 6. City number: 288 City name: Pasichna.
Request 39 of batch 6. City number: 289 City name: Kirkuk.
Request 40 of batch 6. City number: 290 City name: Chabahar.
Request 41 of batch 6. City number: 291 City name: Dunedin.
Request 42 of batch 6. City number: 292 City name: Oktyabr'skoye.
Request 43 of batch 6. City number: 293 City name: Yulara.
Request 44 of batch 6. City number: 294 City name: Barranca.
Request 45 of batch 6. City number: 295 City name: Petrovac.
Request 46 of batch 6. City number: 296 City name: Meulaboh.
Request 47 of batch 6. City number: 297 City name: Baykit.
Request 48 of batch 6. City number: 298 City name: Nabire.
Request 49 of batch 6. City number: 299 City name: Constitución.
Request 50 of batch 6. City number: 300 City name: Ulaanbaatar.
Starting batch 7 of 13.
Request 1 of batch 7. City number: 301 City name: Hamada.
Request 2 of batch 7. City number: 302 City name: Oodweyne.
Request 3 of batch 7. City number: 303 City name: Port Lincoln.
Request 4 of batch 7. City number: 304 City name: Comodoro Rivadavia.
City not found. Skipping...
Request 6 of batch 7. City number: 306 City name: Sirte.
Request 7 of batch 7. City number: 307 City name: Teya.
Request 8 of batch 7. City number: 308 City name: Yining.
Request 9 of batch 7. City number: 309 City name: Margate.
Request 10 of batch 7. City number: 310 City name: Asău.
Request 11 of batch 7. City number: 311 City name: Kohat.
City not found. Skipping...
Request 13 of batch 7. City number: 313 City name: Aasiaat.
Request 14 of batch 7. City number: 314 City name: Pringsewu.
Request 15 of batch 7. City number: 315 City name: Inuvik.
Request 16 of batch 7. City number: 316 City name: Biak.
Request 17 of batch 7. City number: 317 City name: Kadiri.
Request 18 of batch 7. City number: 318 City name: Kiryat Gat.
Request 19 of batch 7. City number: 319 City name: Grindavik.
Request 20 of batch 7. City number: 320 City name: Vardø.
Request 21 of batch 7. City number: 321 City name: Grand-Lahou.
Request 22 of batch 7. City number: 322 City name: Catherinas Lust.
Request 23 of batch 7. City number: 323 City name: Kalmunai.
Request 24 of batch 7. City number: 324 City name: Keetmanshoop.
Request 25 of batch 7. City number: 325 City name: Manavālakurichi.
Request 26 of batch 7. City number: 326 City name: Faanui.
Request 27 of batch 7. City number: 327 City name: Yangi Marg`ilon.
Request 28 of batch 7. City number: 328 City name: Sestri Levante.
Request 29 of batch 7. City number: 329 City name: Port Hawkesbury.
Request 30 of batch 7. City number: 330 City name: Outlook.
Request 31 of batch 7. City number: 331 City name: Kichera.
Request 32 of batch 7. City number: 332 City name: Matara.
Request 33 of batch 7. City number: 333 City name: Quatre Cocos.
Request 34 of batch 7. City number: 334 City name: Nouadhibou.
Request 35 of batch 7. City number: 335 City name: Waddān.
Request 36 of batch 7. City number: 336 City name: Gaillac.
Request 37 of batch 7. City number: 337 City name: Bethel.
Request 38 of batch 7. City number: 338 City name: San Quintín.
Request 39 of batch 7. City number: 339 City name: Crotone.
Request 40 of batch 7. City number: 340 City name: Iporá.
Request 41 of batch 7. City number: 341 City name: Kiunga.
Request 42 of batch 7. City number: 342 City name: Magistral'nyy.
Request 43 of batch 7. City number: 343 City name: Rome.
Request 44 of batch 7. City number: 344 City name: Verkhoyansk.
City not found. Skipping...
Request 46 of batch 7. City number: 346 City name: Ziniaré.
Request 47 of batch 7. City number: 347 City name: Carutapera.
Request 48 of batch 7. City number: 348 City name: Road Town.
Request 49 of batch 7. City number: 349 City name: Koungou.
Request 50 of batch 7. City number: 350 City name: Kamaishi.
Starting batch 8 of 13.
Request 1 of batch 8. City number: 351 City name: Alta Floresta.
Request 2 of batch 8. City number: 352 City name: Ossora.
Request 3 of batch 8. City number: 353 City name: Sawankhalok.
City not found. Skipping...
Request 5 of batch 8. City number: 355 City name: Gaogou.
Request 6 of batch 8. City number: 356 City name: Shenjiamen.
Request 7 of batch 8. City number: 357 City name: Umba.
Request 8 of batch 8. City number: 358 City name: Juruti.
Request 9 of batch 8. City number: 359 City name: Te Anau.
Request 10 of batch 8. City number: 360 City name: Ishigaki.
Request 11 of batch 8. City number: 361 City name: Haines Junction.
Request 12 of batch 8. City number: 362 City name: Flin Flon.
Request 13 of batch 8. City number: 363 City name: Lewiston.
Request 14 of batch 8. City number: 364 City name: Souillac.
Request 15 of batch 8. City number: 365 City name: Huarmey.
Request 16 of batch 8. City number: 366 City name: Nelson Bay.
Request 17 of batch 8. City number: 367 City name: Sampit.
Request 18 of batch 8. City number: 368 City name: Salta.
Request 19 of batch 8. City number: 369 City name: Arkhangelsk.
Request 20 of batch 8. City number: 370 City name: Warmbad.
Request 21 of batch 8. City number: 371 City name: Tilichiki.
Request 22 of batch 8. City number: 372 City name: Walvis Bay.
Request 23 of batch 8. City number: 373 City name: Maragogi.
Request 24 of batch 8. City number: 374 City name: High Level.
Request 25 of batch 8. City number: 375 City name: Jardim.
Request 26 of batch 8. City number: 376 City name: Ivdel'.
Request 27 of batch 8. City number: 377 City name: Zdzieszowice.
Request 28 of batch 8. City number: 378 City name: Joshīmath.
Request 29 of batch 8. City number: 379 City name: Labuhan.
City not found. Skipping...
Request 31 of batch 8. City number: 381 City name: San Andrés.
City not found. Skipping...
City not found. Skipping...
Request 34 of batch 8. City number: 384 City name: Ayan.
Request 35 of batch 8. City number: 385 City name: Khandyga.
Request 36 of batch 8. City number: 386 City name: Fes.
Request 37 of batch 8. City number: 387 City name: Porto Belo.
Request 38 of batch 8. City number: 388 City name: Žilina.
Request 39 of batch 8. City number: 389 City name: Marang.
Request 40 of batch 8. City number: 390 City name: Nueva Gerona.
Request 41 of batch 8. City number: 391 City name: Harper.
City not found. Skipping...
Request 43 of batch 8. City number: 393 City name: Kungurtug.
Request 44 of batch 8. City number: 394 City name: Safi.
Request 45 of batch 8. City number: 395 City name: Vianden.
City not found. Skipping...
Request 47 of batch 8. City number: 397 City name: Turaif.
Request 48 of batch 8. City number: 398 City name: Kadaya.
City not found. Skipping...
Request 50 of batch 8. City number: 400 City name: Kudahuvadhoo.
Starting batch 9 of 13.
City not found. Skipping...
Request 2 of batch 9. City number: 402 City name: Geraldton.
City not found. Skipping...
Request 4 of batch 9. City number: 404 City name: Isil'kul'.
Request 5 of batch 9. City number: 405 City name: Kattivākkam.
Request 6 of batch 9. City number: 406 City name: Skjervøy.
City not found. Skipping...
Request 8 of batch 9. City number: 408 City name: Araouane.
Request 9 of batch 9. City number: 409 City name: Merauke.
Request 10 of batch 9. City number: 410 City name: Madimba.
Request 11 of batch 9. City number: 411 City name: Pizarro.
Request 12 of batch 9. City number: 412 City name: Linqiong.
Request 13 of batch 9. City number: 413 City name: Severnyy.
Request 14 of batch 9. City number: 414 City name: Waitati.
Request 15 of batch 9. City number: 415 City name: San Jerónimo.
Request 16 of batch 9. City number: 416 City name: Paciran.
Request 17 of batch 9. City number: 417 City name: Dezful.
Request 18 of batch 9. City number: 418 City name: Kamina.
Request 19 of batch 9. City number: 419 City name: Barcelona.
Request 20 of batch 9. City number: 420 City name: Hervey Bay.
Request 21 of batch 9. City number: 421 City name: Teruel.
Request 22 of batch 9. City number: 422 City name: Itoman.
Request 23 of batch 9. City number: 423 City name: Leticia.

Request 24 of batch 9. City number: 424 City name: Lima.
Request 25 of batch 9. City number: 425 City name: Tiksi.
Request 26 of batch 9. City number: 426 City name: Riyadh.
Request 27 of batch 9. City number: 427 City name: Springdale.
Request 28 of batch 9. City number: 428 City name: Vila.
Request 29 of batch 9. City number: 429 City name: Giohar.
Request 30 of batch 9. City number: 430 City name: Ribeira Grande.
Request 31 of batch 9. City number: 431 City name: Lashio.
Request 32 of batch 9. City number: 432 City name: Mahon.
City not found. Skipping...
Request 34 of batch 9. City number: 434 City name: Berlevåg.
Request 35 of batch 9. City number: 435 City name: Sitka.
Request 36 of batch 9. City number: 436 City name: Shaoguan.
Request 37 of batch 9. City number: 437 City name: Ketchikan.
Request 38 of batch 9. City number: 438 City name: Mangan.
Request 39 of batch 9. City number: 439 City name: Kieta.
Request 40 of batch 9. City number: 440 City name: Bengkulu.
Request 41 of batch 9. City number: 441 City name: Isangel.
Request 42 of batch 9. City number: 442 City name: La Asuncion.
Request 43 of batch 9. City number: 443 City name: Lázaro Cárdenas.
Request 44 of batch 9. City number: 444 City name: Valga.
Request 45 of batch 9. City number: 445 City name: Ternate.
City not found. Skipping...
Request 47 of batch 9. City number: 447 City name: Havre-St-Pierre.
Request 48 of batch 9. City number: 448 City name: Kurmanayevka.
Request 49 of batch 9. City number: 449 City name: Channel-Port aux Basques.
Request 50 of batch 9. City number: 450 City name: Luyang.
Starting batch 10 of 13.
Request 1 of batch 10. City number: 451 City name: North Branch.
Request 2 of batch 10. City number: 452 City name: Kankaanpää.
Request 3 of batch 10. City number: 453 City name: The Pas.
Request 4 of batch 10. City number: 454 City name: Øksfjord.
City not found. Skipping...
Request 6 of batch 10. City number: 456 City name: Muros.
Request 7 of batch 10. City number: 457 City name: Narsaq.
Request 8 of batch 10. City number: 458 City name: Dolores.
Request 9 of batch 10. City number: 459 City name: Manono.
Request 10 of batch 10. City number: 460 City name: Half Moon Bay.
Request 11 of batch 10. City number: 461 City name: Churapcha.
Request 12 of batch 10. City number: 462 City name: Arraial do Cabo.
Request 13 of batch 10. City number: 463 City name: Sur.
Request 14 of batch 10. City number: 464 City name: Anloga.
Request 15 of batch 10. City number: 465 City name: Kiruna.
Request 16 of batch 10. City number: 466 City name: Sibolga.
Request 17 of batch 10. City number: 467 City name: Tazmalt.
Request 18 of batch 10. City number: 468 City name: Hare Bay.
Request 19 of batch 10. City number: 469 City name: Soyo.
Request 20 of batch 10. City number: 470 City name: Hillsborough.
Request 21 of batch 10. City number: 471 City name: Ostrovnoy.
Request 22 of batch 10. City number: 472 City name: Ulladulla.
Request 23 of batch 10. City number: 473 City name: Nara.
Request 24 of batch 10. City number: 474 City name: Agadez.
Request 25 of batch 10. City number: 475 City name: Cayenne.
Request 26 of batch 10. City number: 476 City name: Lüderitz.
Request 27 of batch 10. City number: 477 City name: Vanimo.
Request 28 of batch 10. City number: 478 City name: George Town.
Request 29 of batch 10. City number: 479 City name: Padang.
Request 30 of batch 10. City number: 480 City name: Waipawa.
Request 31 of batch 10. City number: 481 City name: Juradó.
Request 32 of batch 10. City number: 482 City name: Jitra.
Request 33 of batch 10. City number: 483 City name: Tovarkovo.
Request 34 of batch 10. City number: 484 City name: Octeville.
Request 35 of batch 10. City number: 485 City name: Pleasantville.
Request 36 of batch 10. City number: 486 City name: Macao.
Request 37 of batch 10. City number: 487 City name: Lorengau.
Request 38 of batch 10. City number: 488 City name: Corinth.
Request 39 of batch 10. City number: 489 City name: Kayerkan.
Request 40 of batch 10. City number: 490 City name: Samarai.
Request 41 of batch 10. City number: 491 City name: Solnechnyy.
Request 42 of batch 10. City number: 492 City name: Kutum.
City not found. Skipping...
Request 44 of batch 10. City number: 494 City name: Acarí.
Request 45 of batch 10. City number: 495 City name: Saint-Augustin.
Request 46 of batch 10. City number: 496 City name: Tual.
Request 47 of batch 10. City number: 497 City name: Santa Isabel Rio Negro.
Request 48 of batch 10. City number: 498 City name: Iglino.
Request 49 of batch 10. City number: 499 City name: Nalhāti.
Request 50 of batch 10. City number: 500 City name: Quesnel.
Starting batch 11 of 13.
Request 1 of batch 11. City number: 501 City name: Obsharovka.
Request 2 of batch 11. City number: 502 City name: Maniitsoq.
Request 3 of batch 11. City number: 503 City name: Hienghène.
Request 4 of batch 11. City number: 504 City name: La Ronge.
Request 5 of batch 11. City number: 505 City name: Bodaybo.
City not found. Skipping...
Request 7 of batch 11. City number: 507 City name: Methana.
Request 8 of batch 11. City number: 508 City name: Lompoc.
Request 9 of batch 11. City number: 509 City name: Atar.
Request 10 of batch 11. City number: 510 City name: Canas.
Request 11 of batch 11. City number: 511 City name: Noumea.
Request 12 of batch 11. City number: 512 City name: Rundu.
Request 13 of batch 11. City number: 513 City name: Los Llanos de Aridane.
Request 14 of batch 11. City number: 514 City name: Nemuro.
Request 15 of batch 11. City number: 515 City name: Krk.
Request 16 of batch 11. City number: 516 City name: Sistranda.
Request 17 of batch 11. City number: 517 City name: Vryburg.
Request 18 of batch 11. City number: 518 City name: Vila Velha.
Request 19 of batch 11. City number: 519 City name: Altagracia de Orituco.
Request 20 of batch 11. City number: 520 City name: Daru.
Request 21 of batch 11. City number: 521 City name: Batagay-Alyta.
Request 22 of batch 11. City number: 522 City name: Aklavik.
Request 23 of batch 11. City number: 523 City name: Poronaysk.
Request 24 of batch 11. City number: 524 City name: Perth.
Request 25 of batch 11. City number: 525 City name: Oussouye.
Request 26 of batch 11. City number: 526 City name: Riacho de Santana.
Request 27 of batch 11. City number: 527 City name: Kloulklubed.
Request 28 of batch 11. City number: 528 City name: Idrinskoye.
Request 29 of batch 11. City number: 529 City name: Emerald.
Request 30 of batch 11. City number: 530 City name: Tura.
Request 31 of batch 11. City number: 531 City name: Flinders.
City not found. Skipping...
Request 33 of batch 11. City number: 533 City name: Ürümqi.
Request 34 of batch 11. City number: 534 City name: Nicoya.
Request 35 of batch 11. City number: 535 City name: Sonoita.
Request 36 of batch 11. City number: 536 City name: Warren.
Request 37 of batch 11. City number: 537 City name: Ganta.
Request 38 of batch 11. City number: 538 City name: Berwick.
Request 39 of batch 11. City number: 539 City name: Amsterdam.
Request 40 of batch 11. City number: 540 City name: Puerto Carreño.
Request 41 of batch 11. City number: 541 City name: Lengshuitan.
City not found. Skipping...
Request 43 of batch 11. City number: 543 City name: Kincardine.
Request 44 of batch 11. City number: 544 City name: Igrim.
Request 45 of batch 11. City number: 545 City name: Mehamn.
Request 46 of batch 11. City number: 546 City name: Tadine.
Request 47 of batch 11. City number: 547 City name: Mareeba.
Request 48 of batch 11. City number: 548 City name: Almaznyy.
Request 49 of batch 11. City number: 549 City name: Médéa.
City not found. Skipping...
Starting batch 12 of 13.
Request 1 of batch 12. City number: 551 City name: Manzanillo.
Request 2 of batch 12. City number: 552 City name: Viedma.
Request 3 of batch 12. City number: 553 City name: Zaozyornoye.
Request 4 of batch 12. City number: 554 City name: Naze.
Request 5 of batch 12. City number: 555 City name: Prainha.
Request 6 of batch 12. City number: 556 City name: Baracoa.
Request 7 of batch 12. City number: 557 City name: São João da Barra.
Request 8 of batch 12. City number: 558 City name: Beberibe.
Request 9 of batch 12. City number: 559 City name: Bonney Lake.

Request 10 of batch 12. City number: 560 City name: Salamiyah.
Request 11 of batch 12. City number: 561 City name: Charters Towers.
Request 12 of batch 12. City number: 562 City name: Billings Metropolitan Area.
Request 13 of batch 12. City number: 563 City name: Kampong Thom.
Request 14 of batch 12. City number: 564 City name: Megion.
Request 15 of batch 12. City number: 565 City name: Pozo Colorado.
Request 16 of batch 12. City number: 566 City name: Albeşti.
Request 17 of batch 12. City number: 567 City name: Ginir.
Request 18 of batch 12. City number: 568 City name: Kushmurun.
Request 19 of batch 12. City number: 569 City name: Honiara.
Request 20 of batch 12. City number: 570 City name: Lugovoy.
Request 21 of batch 12. City number: 571 City name: Bandarbeyla.
Request 22 of batch 12. City number: 572 City name: Chebsara.
Request 23 of batch 12. City number: 573 City name: Qiongshan.
Request 24 of batch 12. City number: 574 City name: Hofn.
City not found. Skipping...
Request 26 of batch 12. City number: 576 City name: Harlingen.
Request 27 of batch 12. City number: 577 City name: Kupang.
Request 28 of batch 12. City number: 578 City name: Barcelos.
Request 29 of batch 12. City number: 579 City name: Shimoda.
Request 30 of batch 12. City number: 580 City name: Port Moresby.
Request 31 of batch 12. City number: 581 City name: Raja.
Request 32 of batch 12. City number: 582 City name: Manokwari.
Request 33 of batch 12. City number: 583 City name: Ola.
Request 34 of batch 12. City number: 584 City name: Weligama.
Request 35 of batch 12. City number: 585 City name: Clyde River.
Request 36 of batch 12. City number: 586 City name: Mažeikiai.
City not found. Skipping...
Request 38 of batch 12. City number: 588 City name: Bay Roberts.
Request 39 of batch 12. City number: 589 City name: Trat.
Request 40 of batch 12. City number: 590 City name: Socastee.
Request 41 of batch 12. City number: 591 City name: Broken Hill.
Request 42 of batch 12. City number: 592 City name: Orlik.
Request 43 of batch 12. City number: 593 City name: Marrakesh.
Request 44 of batch 12. City number: 594 City name: Maningrida.
Request 45 of batch 12. City number: 595 City name: Catia La Mar.
Request 46 of batch 12. City number: 596 City name: Guane.
Request 47 of batch 12. City number: 597 City name: Kumul.
Request 48 of batch 12. City number: 598 City name: Santa Gertrudis.
Request 49 of batch 12. City number: 599 City name: Mandurah.
Request 50 of batch 12. City number: 600 City name: Moose Factory.
Starting batch 13 of 13.
City not found. Skipping...
Request 2 of batch 13. City number: 602 City name: Khojaly District.
Request 3 of batch 13. City number: 603 City name: Brae.
Request 4 of batch 13. City number: 604 City name: Sehwan.
Request 5 of batch 13. City number: 605 City name: Sāmbhar.
Request 6 of batch 13. City number: 606 City name: Takoradze.
Request 7 of batch 13. City number: 607 City name: Santa Vitória do Palmar.
Request 8 of batch 13. City number: 608 City name: Aykhal.
Request 9 of batch 13. City number: 609 City name: Bagdarin.
-----------------------------
Data Retrieval Complete
----------------------------

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [77]:
#use each individual list as a column in the data frame
weather_df = pd.DataFrame(data={"City": city_City_Data, "Lat": lat_City_Data, "Lng": lng_City_Data, "Max Temp": max_Temp_City_Data, "Humidity": humidity_City_Data, "Cloudiness": cloudiness_City_Data, "Wind Speed": wind_Speed_City_Data, "Country": country_City_Data, "Date": date_City_Data})

output_path = os.path.join("Output", "output.csv")
weather_df.to_csv(output_path, sep=',',index=False)#write the data frame to a CSV

weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Hermanus,-34.42,-34.42,291.48,78,3,0.45,ZA,1607925139
1,Yaan,7.38,7.38,297.47,84,13,2.37,NG,1607925139
2,Bredasdorp,-34.53,-34.53,289.15,77,2,3.1,ZA,1607925139
3,Poum,-20.23,-20.23,300.54,80,99,10.69,NC,1607925139
4,Nikolskoye,59.7,59.7,269.82,85,90,1,RU,1607925139
...,...,...,...,...,...,...,...,...,...
604,Sāmbhar,26.92,26.92,290.15,45,20,1.5,IN,1607925223
605,Takoradze,4.88,4.88,298.71,87,22,2.65,GH,1607925223
606,Santa Vitória do Palmar,-33.52,-33.52,287.3,87,48,3.38,BR,1607925223
607,Aykhal,66,66,240.15,67,0,1,RU,1607925223
608,Bagdarin,54.43,54.43,249.09,73,0,0.05,RU,1607925223

## Inspect the data and remove the cities where the humidity > 100%.
----
Skip this step if there are no cities that have humidity > 100%.

In [74]:
#  Get the indices of cities that have humidity over 100%.

In [75]:
# Make a new DataFrame equal to the city data to drop all humidity outliers by index.
# Passing "inplace=False" will make a copy of the city_data DataFrame, which we call "clean_city_data".

## Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

## Latitude vs. Temperature Plot

## Latitude vs. Humidity Plot

## Latitude vs. Cloudiness Plot

## Latitude vs. Wind Speed Plot

## Linear Regression

####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression