# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [120]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import os
import csv

# Import API key
from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [121]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

612

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it's being processed (with the city number and city name).

In [122]:
api = weather_api_key
# Build query URL
url = "http://api.openweathermap.org/data/2.5/weather?"

def APIRequest(cityNumber):#function for making the API call to OpenWeatherMap.org and returning the data
    query_url = url + "appid=" + api + "&q=" + cities[cityNumber-1]
    responseJson = requests.get(query_url).json() #making the API request and grabbing the JSON from the response

    if ("'message': 'city not found'" in str(responseJson)): #checking response JSON for the string of text containing the message 'city not found'
        full_City_Data.append("NaN")#if the city is not found, append a NaN value (makes dropping items with pandas easier later) to the lists to keep the index numbers correct
        city_City_Data.append("NaN")#list for city names
        lat_City_Data.append("NaN")#list for city latitude
        lng_City_Data.append("NaN")#list for city longitude
        max_Temp_City_Data.append("NaN")#list for city maximum temperature
        humidity_City_Data.append("NaN")#list for city humidity
        cloudiness_City_Data.append("NaN")#list for city cloudiness amount
        wind_Speed_City_Data.append("NaN")#list for city wind speed amount
        country_City_Data.append("NaN")#list for which country a city is in
        date_City_Data.append("NaN")#list for the datetime information stored in unix UTC format
        print("City not found. Skipping...")
    else:
        full_City_Data.append(responseJson) #if the city is found, do append the information to the lists
        city_City_Data.append(responseJson["name"])
        lat_City_Data.append(responseJson["coord"]["lat"])
        lng_City_Data.append(responseJson["coord"]["lat"])
        max_Temp_City_Data.append(responseJson["main"]["temp_max"])
        humidity_City_Data.append(responseJson["main"]["humidity"])
        cloudiness_City_Data.append(responseJson["clouds"]["all"])
        wind_Speed_City_Data.append(responseJson["wind"]["speed"])
        country_City_Data.append(responseJson["sys"]["country"])
        date_City_Data.append(responseJson["dt"])

#if length of cities is exactly divisible by 50 then get the length. else we need to add an extra batch to account for the remainder
remainder = 0
if (len(cities) % 50 == 0):
        totalBatches = int(len(cities) / 50) #doing batches of 50 API calls at once; finding the total number of batches I will be making
else:
    totalBatches = int((len(cities) / 50)+1)
    remainder = int(len(cities) % 50)
    
batchCounter = 1
requestsPerBatch = 50
requestCounter = 1
cityNumber = 1
#creating empty lists to use to append each piece of the weather data response to
full_City_Data, city_City_Data, lat_City_Data, lng_City_Data, max_Temp_City_Data, humidity_City_Data, cloudiness_City_Data, wind_Speed_City_Data, country_City_Data, date_City_Data = [], [], [], [], [], [], [], [], [], []

print("Beginning Data Retrieval\n-----------------------------")
while (batchCounter <= totalBatches): 
    print(f"Starting batch {batchCounter} of {totalBatches}.")
    while ((batchCounter != totalBatches) & (requestCounter <= requestsPerBatch)): #if we're not on the final batch, run this code
        cityNumber = (50 * (batchCounter-1)) + requestCounter #calculating city number        
        APIRequest(cityNumber)
        if (city_City_Data[cityNumber-1] != "NaN"):#if any of lists at this element are blank, skip printing the name and move onto the next city
            print(f"Request {requestCounter} of batch {batchCounter}. City number: {cityNumber} City name: {city_City_Data[cityNumber-1]}.")
        requestCounter +=1
    while ((batchCounter == totalBatches) & (requestCounter <= remainder)): #if we are on the final batch, run this code
        cityNumber = (50 * (batchCounter-1)) + requestCounter #calculating city number
        APIRequest(cityNumber)
        if (city_City_Data[cityNumber-1] != "NaN"):#if any of lists at this element are blank, skip printing the name and move onto the next city
            print(f"Request {requestCounter} of batch {batchCounter}. City number: {cityNumber} City name: {city_City_Data[cityNumber-1]}.")
        requestCounter +=1        
    batchCounter +=1
    requestCounter = 1 #resetting requestCounter so it will hit the inner while loop again in the next iteration of the outer while loop
    
    break ##break out of out while loop so i don't make so many API calls during testing##
print("-----------------------------\nData Retrieval Complete\n----------------------------")

Beginning Data Retrieval
-----------------------------
Starting batch 1 of 13.
Request 1 of batch 1. City number: 1 City name: Rikitea.
Request 2 of batch 1. City number: 2 City name: Puerto Ayora.
Request 3 of batch 1. City number: 3 City name: Arraial do Cabo.
Request 4 of batch 1. City number: 4 City name: Oktyabr'skoye.
City not found. Skipping...
Request 6 of batch 1. City number: 6 City name: Nanortalik.
Request 7 of batch 1. City number: 7 City name: Mataura.
Request 8 of batch 1. City number: 8 City name: Port Augusta.
City not found. Skipping...
Request 10 of batch 1. City number: 10 City name: Ponta do Sol.
Request 11 of batch 1. City number: 11 City name: Castro.
Request 12 of batch 1. City number: 12 City name: Hithadhoo.
Request 13 of batch 1. City number: 13 City name: Norrt√§lje.
Request 14 of batch 1. City number: 14 City name: Daru.
Request 15 of batch 1. City number: 15 City name: Qaanaaq.
Request 16 of batch 1. City number: 16 City name: Lebu.
Request 17 of batch 1. City number: 17 City name: Longyearbyen.
Request 18 of batch 1. City number: 18 City name: Butaritari.
Request 19 of batch 1. City number: 19 City name: Busselton.
Request 20 of batch 1. City number: 20 City name: Bow Island.
Request 21 of batch 1. City number: 21 City name: Miyako.
Request 22 of batch 1. City number: 22 City name: Tuatapere.
Request 23 of batch 1. City number: 23 City name: Cape Town.
Request 24 of batch 1. City number: 24 City name: Luanda.
Request 25 of batch 1. City number: 25 City name: Zhigansk.
Request 26 of batch 1. City number: 26 City name: Oslo.
Request 27 of batch 1. City number: 27 City name: Hermanus.
Request 28 of batch 1. City number: 28 City name: General Roca.
Request 29 of batch 1. City number: 29 City name: Richards Bay.
Request 30 of batch 1. City number: 30 City name: Chumikan.
Request 31 of batch 1. City number: 31 City name: Punta Arenas.
Request 32 of batch 1. City number: 32 City name: Ribeira Grande.
City not found. Skipping...
Request 34 of batch 1. City number: 34 City name: Ushuaia.
Request 35 of batch 1. City number: 35 City name: Talaya.
Request 36 of batch 1. City number: 36 City name: Ambulu.
Request 37 of batch 1. City number: 37 City name: Tiksi.
Request 38 of batch 1. City number: 38 City name: Maxixe.
Request 39 of batch 1. City number: 39 City name: Nikolskoye.
Request 40 of batch 1. City number: 40 City name: George Town.
Request 41 of batch 1. City number: 41 City name: Mogadishu.
Request 42 of batch 1. City number: 42 City name: Thompson.
Request 43 of batch 1. City number: 43 City name: Dolores.
City not found. Skipping...
Request 45 of batch 1. City number: 45 City name: Pisco.
Request 46 of batch 1. City number: 46 City name: New Norfolk.
City not found. Skipping...
Request 48 of batch 1. City number: 48 City name: Bar Harbor.
City not found. Skipping...
Request 50 of batch 1. City number: 50 City name: Manakara.
-----------------------------
Data Retrieval Complete
----------------------------

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [123]:
#use each individual list as a column in the data frame
weather_df = pd.DataFrame(data={"City": city_City_Data, "Lat": lat_City_Data, "Lng": lng_City_Data, "Max Temp": max_Temp_City_Data, "Humidity": humidity_City_Data, "Cloudiness": cloudiness_City_Data, "Wind Speed": wind_Speed_City_Data, "Country": country_City_Data, "Date": date_City_Data})

output_path = os.path.join("Output", "output.csv")
weather_df.to_csv(output_path, sep=',',index=False)#write the data frame to a CSV

weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Rikitea,-23.12,-23.12,297.44,73,67,2.61,PF,1607927825
1,Puerto Ayora,-0.74,-0.74,295.93,93,97,2.68,EC,1607927826
2,Arraial do Cabo,-22.97,-22.97,296.65,85,74,11.02,BR,1607927676
3,Oktyabr'skoye,43.06,43.06,269.15,92,90,1,RU,1607927826
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Nanortalik,60.14,60.14,273.39,93,100,2.29,GL,1607927826
6,Mataura,-46.19,-46.19,287.04,79,2,5.36,NZ,1607927826
7,Port Augusta,-32.5,-32.5,309.15,22,90,6.7,AU,1607927826
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Ponta do Sol,32.67,32.67,289.15,82,40,1,PT,1607927827
10,Castro,-24.79,-24.79,290.64,93,1,2.07,BR,1607927827
11,Hithadhoo,-0.6,-0.6,301.4,75,100,7.29,MV,1607927827
12,Norrt√§lje,59.76,59.76,278.15,81,43,2.24,SE,1607927827
13,Daru,-9.08,-9.08,302.19,75,71,2.09,PG,1607927827
14,Qaanaaq,77.48,77.48,267.13,94,100,1.48,GL,1607927827
15,Lebu,-37.62,-37.62,283.47,84,70,3.9,CL,1607927827
16,Longyearbyen,78.22,78.22,267.15,79,75,5.7,SJ,1607927796
17,Butaritari,3.07,3.07,301.01,77,9,6.85,KI,1607927828
18,Busselton,-33.65,-33.65,292.59,57,0,1.34,AU,1607927828
19,Bow Island,49.87,49.87,261.15,78,99,5.7,CA,1607927828
20,Miyako,39.64,39.64,272.53,82,4,4.99,JP,1607927828
21,Tuatapere,-46.13,-46.13,287.04,79,4,5.36,NZ,1607927828
22,Cape Town,-33.93,-33.93,292.15,68,40,4.6,ZA,1607927408
23,Luanda,-8.84,-8.84,297.15,78,75,2.1,AO,1607927808
24,Zhigansk,66.77,66.77,232.33,79,85,6.78,RU,1607927829
25,Oslo,59.91,59.91,275.93,83,100,0.89,NO,1607927829
26,Hermanus,-34.42,-34.42,294.82,66,0,0.45,ZA,1607927829
27,General Roca,-39.03,-39.03,289.15,41,0,2.1,AR,1607927829
28,Richards Bay,-28.78,-28.78,302.48,61,85,5.03,ZA,1607927829
29,Chumikan,54.72,54.72,251.92,79,100,8.74,RU,1607927829
30,Punta Arenas,-53.15,-53.15,278.15,75,41,9.8,CL,1607927830
31,Ribeira Grande,38.52,38.52,287.64,62,100,10.46,PT,1607927830
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Ushuaia,-54.8,-54.8,277.15,86,75,11.3,AR,1607927830
34,Talaya,61.38,61.38,239.55,82,100,2.13,RU,1607927830
35,Ambulu,-8.35,-8.35,298.07,90,100,1.22,ID,1607927830
36,Tiksi,71.69,71.69,239.97,82,28,1.07,RU,1607927831
37,Maxixe,-23.86,-23.86,303.15,70,40,4.1,MZ,1607927831
38,Nikolskoye,59.7,59.7,269.82,85,90,1,RU,1607927831
39,George Town,5.41,5.41,304.15,70,20,2.6,MY,1607927831
40,Mogadishu,2.04,2.04,299.15,65,0,5.1,SO,1607927831
41,Thompson,55.74,55.74,244.15,75,5,2.6,CA,1607927814
42,Dolores,-36.31,-36.31,283.95,65,0,3.28,AR,1607927831
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Pisco,-13.7,-13.7,292.15,88,86,2.1,PE,1607927683
45,New Norfolk,-42.78,-42.78,306.15,24,0,6.2,AU,1607927832
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Bar Harbor,44.39,44.39,275.93,80,1,2.1,US,1607927832
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Manakara,-22.13,-22.13,299.68,66,81,3.59,MG,1607927832

In [140]:
cleaned_weather_df = weather_df.drop(columns=["City", "Country"]) #drop the non-numeric data from the data frame
#convert all columns to floats so I can drop the NaN values with pandas
cleaned_weather_df[["Lat", "Lng", "Max Temp", "Humidity", "Cloudiness", "Wind Speed", "Date"]] = cleaned_weather_df[["Lat", "Lng", "Max Temp", "Humidity", "Cloudiness", "Wind Speed", "Date"]].astype(float)
cleaned_weather_df.dropna(axis=0,how='all', inplace=True)#drop all NaN items from data frame
cleaned_weather_df.describe() #summarize the remaining numeric data

,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
count,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,4.400000e+01
mean,6.516136,6.516136,283.115682,74.840909,54.272727,4.113864,1.607928e+09
std,42.922896,42.922896,19.356776,15.670953,39.986256,2.934878,6.976525e+01
min,-54.800000,-54.800000,232.330000,22.000000,0.000000,0.450000,1.607927e+09
25%,-32.787500,-32.787500,273.175000,69.500000,4.750000,2.097500,1.607928e+09
50%,-4.545000,-4.545000,288.395000,79.000000,70.500000,2.980000,1.607928e+09
75%,51.082500,51.082500,297.597500,83.250000,90.000000,5.700000,1.607928e+09
max,78.220000,78.220000,309.150000,94.000000,100.000000,11.300000,1.607928e+09

## Inspect the data and remove the cities where the humidity > 100%.
----
Skip this step if there are no cities that have humidity > 100%.

In [125]:
# no cities had a humidity of over 100%.

## Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

## Latitude vs. Temperature Plot

In [126]:
df.plot(kind="scatter", x=)

SyntaxError: invalid syntax (<ipython-input-126-ffecf30a4425>, line 1)

## Latitude vs. Humidity Plot

## Latitude vs. Cloudiness Plot

## Latitude vs. Wind Speed Plot

## Linear Regression

####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression