# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [171]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import os
import csv

# Import API key
from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [172]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

666

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it's being processed (with the city number and city name).

In [173]:
api = weather_api_key
# Build query URL
url = "http://api.openweathermap.org/data/2.5/weather?"

def APIRequest(cityNumber):#function for making the API call to OpenWeatherMap.org and returning the data
    query_url = url + "appid=" + api + "&q=" + cities[cityNumber-1] + "&units=imperial"
    responseJson = requests.get(query_url).json() #making the API request and grabbing the JSON from the response

    if ("'message': 'city not found'" in str(responseJson)): #checking response JSON for the string of text containing the message 'city not found'
        full_City_Data.append("NaN")#if the city is not found, append a NaN value (makes dropping items with pandas easier later) to the lists to keep the index numbers correct
        city_City_Data.append("NaN")#list for city names
        lat_City_Data.append("NaN")#list for city latitude
        lng_City_Data.append("NaN")#list for city longitude
        max_Temp_City_Data.append("NaN")#list for city maximum temperature
        humidity_City_Data.append("NaN")#list for city humidity
        cloudiness_City_Data.append("NaN")#list for city cloudiness amount
        wind_Speed_City_Data.append("NaN")#list for city wind speed amount
        country_City_Data.append("NaN")#list for which country a city is in
        date_City_Data.append("NaN")#list for the datetime information stored in unix UTC format
        print("City not found. Skipping...")
    else:
        full_City_Data.append(responseJson) #if the city is found, do append the information to the lists
        city_City_Data.append(responseJson["name"])
        lat_City_Data.append(responseJson["coord"]["lat"])
        lng_City_Data.append(responseJson["coord"]["lat"])
        max_Temp_City_Data.append(responseJson["main"]["temp_max"])
        humidity_City_Data.append(responseJson["main"]["humidity"])
        cloudiness_City_Data.append(responseJson["clouds"]["all"])
        wind_Speed_City_Data.append(responseJson["wind"]["speed"])
        country_City_Data.append(responseJson["sys"]["country"])
        date_City_Data.append(responseJson["dt"])

#if length of cities is exactly divisible by 50 then get the length. else we need to add an extra batch to account for the remainder
remainder = 0
if (len(cities) % 50 == 0):
        totalBatches = int(len(cities) / 50) #doing batches of 50 API calls at once; finding the total number of batches I will be making
else:
    totalBatches = int((len(cities) / 50)+1)
    remainder = int(len(cities) % 50)
    
batchCounter = 1
requestsPerBatch = 50
requestCounter = 1
cityNumber = 1
#creating empty lists to use to append each piece of the weather data response to
full_City_Data, city_City_Data, lat_City_Data, lng_City_Data, max_Temp_City_Data, humidity_City_Data, cloudiness_City_Data, wind_Speed_City_Data, country_City_Data, date_City_Data = [], [], [], [], [], [], [], [], [], []

print("Beginning Data Retrieval\n-----------------------------")
while (batchCounter <= totalBatches): 
    print(f"Starting batch {batchCounter} of {totalBatches}.")
    while ((batchCounter != totalBatches) & (requestCounter <= requestsPerBatch)): #if we're not on the final batch, run this code
        cityNumber = (50 * (batchCounter-1)) + requestCounter #calculating city number        
        APIRequest(cityNumber)
        if (city_City_Data[cityNumber-1] != "NaN"):#if any of lists at this element are blank, skip printing the name and move onto the next city
            print(f"Request {requestCounter} of batch {batchCounter}. City number: {cityNumber} City name: {city_City_Data[cityNumber-1]}.")
        requestCounter +=1
    while ((batchCounter == totalBatches) & (requestCounter <= remainder)): #if we are on the final batch, run this code
        cityNumber = (50 * (batchCounter-1)) + requestCounter #calculating city number
        APIRequest(cityNumber)
        if (city_City_Data[cityNumber-1] != "NaN"):#if any of lists at this element are blank, skip printing the name and move onto the next city
            print(f"Request {requestCounter} of batch {batchCounter}. City number: {cityNumber} City name: {city_City_Data[cityNumber-1]}.")
        requestCounter +=1        
    batchCounter +=1
    requestCounter = 1 #resetting requestCounter so it will hit the inner while loop again in the next iteration of the outer while loop
    
    break ##break out of out while loop so i don't make so many API calls during testing##
print("-----------------------------\nData Retrieval Complete\n----------------------------")

Beginning Data Retrieval
-----------------------------
Starting batch 1 of 14.
Request 1 of batch 1. City number: 1 City name: Punta Arenas.
Request 2 of batch 1. City number: 2 City name: Tiksi.
Request 3 of batch 1. City number: 3 City name: Kapaa.
City not found. Skipping...
Request 5 of batch 1. City number: 5 City name: Atuona.
Request 6 of batch 1. City number: 6 City name: Albany.
Request 7 of batch 1. City number: 7 City name: Ushuaia.
Request 8 of batch 1. City number: 8 City name: Altay.
Request 9 of batch 1. City number: 9 City name: Rikitea.
Request 10 of batch 1. City number: 10 City name: Puerto Nariño.
Request 11 of batch 1. City number: 11 City name: Hermanus.
Request 12 of batch 1. City number: 12 City name: Grand Forks.
Request 13 of batch 1. City number: 13 City name: Pacific Grove.
City not found. Skipping...
Request 15 of batch 1. City number: 15 City name: Bambous Virieux.
Request 16 of batch 1. City number: 16 City name: Lake Charles.
Request 17 of batch 1. City number: 17 City name: Savinka.
Request 18 of batch 1. City number: 18 City name: Mar del Plata.
Request 19 of batch 1. City number: 19 City name: Acapulco de Juárez.
Request 20 of batch 1. City number: 20 City name: Hilo.
Request 21 of batch 1. City number: 21 City name: Bluff.
Request 22 of batch 1. City number: 22 City name: Progreso.
Request 23 of batch 1. City number: 23 City name: Hobart.
Request 24 of batch 1. City number: 24 City name: Port Blair.
Request 25 of batch 1. City number: 25 City name: Kovūr.
Request 26 of batch 1. City number: 26 City name: Busselton.
City not found. Skipping...
Request 28 of batch 1. City number: 28 City name: Saint-Philippe.
City not found. Skipping...
City not found. Skipping...
Request 31 of batch 1. City number: 31 City name: Khatanga.
Request 32 of batch 1. City number: 32 City name: Sitka.
Request 33 of batch 1. City number: 33 City name: Vila Velha.
Request 34 of batch 1. City number: 34 City name: Vaini.
Request 35 of batch 1. City number: 35 City name: San Policarpo.
Request 36 of batch 1. City number: 36 City name: Arlit.
Request 37 of batch 1. City number: 37 City name: Nuuk.
Request 38 of batch 1. City number: 38 City name: Cape Town.
Request 39 of batch 1. City number: 39 City name: Acaraú.
City not found. Skipping...
City not found. Skipping...
Request 42 of batch 1. City number: 42 City name: Padang.
Request 43 of batch 1. City number: 43 City name: Mataura.
Request 44 of batch 1. City number: 44 City name: Tuktoyaktuk.
Request 45 of batch 1. City number: 45 City name: Tlaxco.
City not found. Skipping...
Request 47 of batch 1. City number: 47 City name: Winona.
Request 48 of batch 1. City number: 48 City name: Arraial do Cabo.
Request 49 of batch 1. City number: 49 City name: New Norfolk.
Request 50 of batch 1. City number: 50 City name: Dikson.
-----------------------------
Data Retrieval Complete
----------------------------

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [174]:
#use each individual list as a column in the data frame
weather_df = pd.DataFrame(data={"City": city_City_Data, "Lat": lat_City_Data, "Lng": lng_City_Data, "Max Temp": max_Temp_City_Data, "Humidity": humidity_City_Data, "Cloudiness": cloudiness_City_Data, "Wind Speed": wind_Speed_City_Data, "Country": country_City_Data, "Date": date_City_Data})

output_path = os.path.join("Output", "output.csv")
weather_df.to_csv(output_path, sep=',',index=False)#write the data frame to a CSV

weather_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Punta Arenas,-53.15,-53.15,41,75,41,21.92,CL,1607928982
1,Tiksi,71.69,71.69,-27.72,82,28,2.39,RU,1607929151
2,Kapaa,22.08,22.08,73.4,83,1,5.82,US,1607929139
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Atuona,-9.8,-9.8,78.87,78,1,14,PF,1607929152

In [175]:
cleaned_weather_df = weather_df.drop(columns=["City", "Country"]) #drop the non-numeric data from the data frame
#convert all columns to floats so I can drop the NaN values with pandas
cleaned_weather_df[["Lat", "Lng", "Max Temp", "Humidity", "Cloudiness", "Wind Speed", "Date"]] = cleaned_weather_df[["Lat", "Lng", "Max Temp", "Humidity", "Cloudiness", "Wind Speed", "Date"]].astype(float)
cleaned_weather_df.dropna(axis=0,how='all', inplace=True)#drop all NaN items from data frame

cleaned_weather_df.describe() #summarize the remaining numeric data

,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
count,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,4.200000e+01
mean,6.920238,6.920238,54.333571,72.238095,41.261905,10.978333,1.607929e+09
std,39.348638,39.348638,32.285596,17.619016,39.572138,6.717598,8.132717e+01
min,-54.800000,-54.800000,-27.720000,21.000000,0.000000,0.560000,1.607929e+09
25%,-23.082500,-23.082500,39.650000,65.500000,1.000000,5.862500,1.607929e+09
50%,11.925000,11.925000,69.935000,75.000000,34.000000,10.290000,1.607929e+09
75%,41.105000,41.105000,78.350000,84.500000,75.000000,14.022500,1.607929e+09
max,73.510000,73.510000,89.600000,100.000000,100.000000,25.280000,1.607929e+09

## Inspect the data and remove the cities where the humidity > 100%.
----
Skip this step if there are no cities that have humidity > 100%.

In [176]:
# no cities had a humidity of over 100%.

## Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

## Latitude vs. Temperature Plot

In [177]:
df.plot(kind="scatter", x=)

SyntaxError: invalid syntax (<ipython-input-177-ffecf30a4425>, line 1)

## Latitude vs. Humidity Plot

## Latitude vs. Cloudiness Plot

## Latitude vs. Wind Speed Plot

## Linear Regression

####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression